# misc
*.class
.gitignore~

# Package Files #
#*.jar
#*.war

# gwt logs
.gwt/*

# gwt caches and compiled units #
war/gwtl_example/
war/WEB-INF/lib/
gwt-unitCache/
test-classes/
www-test/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/

# App engine generated #
war/WEB-INF/appengine-generated/
