.gwt-Body {
	position: absolute;
	left: 10px;
	top: 10px;
	right: 10px;
	bottom: 10px;
	overflow-y: hidden;
	overflow-x: hidden;
}
.gwt-Map {
	border: 1px solid #AAAAAA;
	background-color: white;
	position: absolute; 
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
